###> symfony/framework-bundle ###
/.idea/
/outdated.txt
/uv.php
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/composer.lock
/symfony.lock
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/phpunit.xml
/.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
